#list-news{
    width: 300px;
    height:470px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

@media (max-width: 767px) {
    #list-news {
        display: none;
    }
}