extends layout

block content
    h1
        span.hidden-xs Chat với người lạ
        button#btn-new.btn.btn-info Tìm người chat
        div.visible-xs.online.btn.btn-warning#online-title
    #wrapper
        #content

        #status Sẵn sàng, bấm nút <strong>Tìm người chat</strong> để bắt đầu
        .online.hidden-xs#online-status
        #control
            #chat-input
                textarea#txt-input.form-control
            #chat-control
                button#btn-submit.btn.btn-block.btn-success
                    | Gửi&nbsp;
                    i.fa.fa-send