doctype html
html
    head
        title ChatVivu - Chat với người lạ
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset="utf-8")
        meta(name="description", content="Chat với người lạ, nói chuyện với người lạ, gặp gỡ người lạ")
        meta(name="keywords", content="chat,người lạ, chat người lạ, chat với người lạ, gặp gỡ, kết bạn")
        meta(name="og:title", content="Chat với người lạ")
        meta(name="og:type", content="website")
        meta(name="og:url", content="http://chatvivu.com")
        meta(name="og:site_name", "ChatVivu - Chat với người lạ")
        meta(name="og:description", content="Chat với người lạ, nói chuyện với người lạ, gặp gỡ người lạ")
        link(rel="stylesheet", href="/vendors/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendors/bootstrap/css/bootstrap-theme.min.css")
        link(rel="stylesheet", href="/vendors/font-awesome/css/font-awesome.min.css")
        link(rel='stylesheet', href='/css/style.css')

        block head
    body
        block content
        script(type="text/javascript", src="/vendors/jquery/jquery-1.11.1.min.js")
        script(type="text/javascript", src="/vendors/bootstrap/js/bootstrap.min.js")
        script(type="text/javascript", src="/js/socket.io.js")
        script(type="text/javascript", src="/js/main.js")